@use '../../styles/colors';
@use '../../styles/breakpoints';

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-wrapper {
      width: 100%;
      max-width: 900px;

      .main {
        margin-top: 70px;
        margin-bottom: 110px;
        padding: 0 20px;
        position: relative;

        .search-box {
          width: 100%;
          max-width: 767px;
        }
      }
    }
  }
}

@media only screen and (min-width: breakpoints.$hd) {
  #root {
    flex-direction: column;

    .main-wrapper {
      display: flex;
      padding-left: 100px;
      padding-right: 90px;
      margin-top: 80px;

      &.flex-column {
        flex-direction: column;
      }
      &.margin-top-0 {
        margin-top: 0;
      }
      .main {
        flex: 1;
        padding: unset;
        margin-bottom: -30px;

        .rocket {
          position: absolute;
          top: -13px;
          left: 182px;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .main-wrapper {
    margin-bottom: -30px;
  }
}

@media only screen and (max-width: 500px) {
  .main-wrapper {
    margin-bottom: 160px;

    .rocket {
      position: absolute;
      top: 197px;
      left: 15%;
    }
  }
}
