.landing-page {
  background-image: url('../../assets/images/landing-page-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;

    padding-top: 30vh;
  }
}