@use '../../../../styles/colors';

.total-results {
  padding: 20px;
  background-color: colors.$background_grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-menu {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$white;
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid colors.$border_grey;

    .icon {
      margin-right: 8px;
    }
  }
}