@use '../../../../styles/colors';

.job {
    background-color: colors.$white;
    margin-bottom: 10px;
    padding: 20px 30px;

    .position {
        font-size: 26px;
        line-height: 31px;
        font-weight: 600;
        margin-bottom: 15px;
        color: colors.$text_ink_black;
    }

    .company {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
    }

    .location {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: colors.$text_grey;
        margin-bottom: 20px;
        .icon {
            margin-right: 10px;
        }
    }

    .button-position {
        display: flex;
        flex-direction: row-reverse;
        
        .btn {
            display: flex;
            align-items: center;
    
            .icon {
                margin-left: 6px;
            }
        }
    }
}