@use '../../../../styles/colors';
@use '../../../../styles/breakpoints';

.job {
  background-color: colors.$white;
  margin-bottom: 10px;
  padding: 20px 22px;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 354px;
  text-align: center;

  .details {
    .position {
      font-size: 26px;
      line-height: 31px;
      font-weight: 600;
      margin-bottom: 15px;
      color: colors.$text_ink_black;
    }

    .company {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 15px;
    }

    .location {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: colors.$text_grey;
      margin-bottom: 20px;
      justify-content: center;

      .icon {
        margin-right: 10px;
      }
    }
  }

  .button-position {
    display: flex;
    flex-direction: row-reverse;
    background-color: #048a81;
    border-radius: 2rem;
    padding: 0 0.6rem;

    .btn {
      display: flex;
      align-items: center;

      .icon {
        margin-left: 6px;
      }
    }
  }
}

@media only screen and (min-width: breakpoints.$hd) {
  .job {
    display: flex;
    justify-content: space-between;

    .details {
      flex: 1;
    }

    .button-position {
      display: block;
      width: 174px;
      border-radius: 2rem;

      .btn {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .job {
    max-width: 310px;

    .button-position {
      display: block;
      width: 174px;
      border-radius: 2rem;

      .btn {
        justify-content: center;
      }
    }
  }
}
