.title {
    h1 {
        font-family: PoppinsRegular;
        font-size: 26px;
        line-height: 32px;
    }
    
    .description {
        font-family: PoppinsLight;
        margin-top: 16px;
        line-height: 19px;
    }
}