@use '../../styles/colors';

.job {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: PoppinsRegular, 'Courier New', Courier, monospace;

  .new {
    padding-left: 20px;
    padding-right: 27px;

    &.hide {
      visibility: hidden;
    }
  }

  .description {
    border-style: solid;
    border-width: 1px;
    border-color: colors.$dark-border-light;
    border-radius: 10px;

    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;

    width: 100%;
    max-width: 670px;
    min-width: 300px;

    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;

    .details {
      flex-grow: 2;

      .company {
        font-size: 16px;
      }

      .section {
        display: flex;
        flex-direction: row;

        .title {
          font-size: 18px;
          font-weight: 700;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .location {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          margin-left: 15px;

          color: colors.$text-light-blue;
        }
      }

      .url {
        font-size: 14px;
        color: colors.$text-light-gray;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .type {
      flex-grow: 1;
      max-width: 150px;
    }

    .btn {
      all: unset;

      flex-grow: 1;
      max-width: 150px;
      min-width: 100px;
      height: 22px;
      line-height: 24px;
      cursor: pointer;

      font-size: 12px;
      font-weight: 600;
      text-align: center;
      color: white;
      background-color: colors.$background-blue;
      border-radius: 100px;
    }
  }
}