@use '../../styles/colors';

.job {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__new {
    &.hide {
      visibility: hidden;
    }
  }

  &__description {
    border-style: solid;
    border-width: 1px;
    border-color: colors.$dark-border-light;
    border-radius: 10px;

    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;

    width: 100%;
    max-width: 670px;
    min-width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

  }

  &__section {
    display: flex;
    flex-direction: row;
  }
}