@use '../../styles/colors';

.results-count {
  .text {
    font-size: 16px;
    color: colors.$text-purple;
    font-family: PoppinsRegular, 'Courier New', Courier, monospace;
    font-weight: lighter;

    .count {
      font-weight: bold;
    }
  }
}