$border_light_grey: #E3E5E6;
$border_grey: #DBDCDC;

$text_orange: #E08D22;
$text_innk_black: #090A0A;
$text_grey: #979C9E;

$background_orange: #E08D21;
$background_orange_dark: #BC7110;
$background_grey: #F0F3F6;

$white: #FFFFFF;