@font-face {
  font-family: "Oswald";
  src: url("../../styles/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Oswald-Extra-Light";
  src: url("../../styles/fonts/Oswald/Oswald-ExtraLight.ttf");
}

$oswald: "Oswald",
Helvetica,
sans-serif;
$oswald-extra-light: "Oswald-Extra-Light",
Helvetica,
sans-serif;