@font-face {
  font-family: "Oswald";
  src: url("../../styles/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Oswald-Extra-Light";
  src: url("../../styles/fonts/Oswald/Oswald-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../styles/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../styles/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../../styles/fonts/Poppins-Light.ttf");
}

$oswald: "Oswald",
Helvetica,
sans-serif;

$oswald-extra-light: "Oswald-Extra-Light",
Helvetica,
sans-serif;

$poppins-medium: "Poppins-Medium",
Helvetica,
sans-serif;

$poppins-bold: "Poppins-Bold",
Helvetica,
sans-serif;

$poppins-light: "Poppins-Light",
Helvetica,
sans-serif;