@font-face {
  font-family: "justMandrawn";
  src: url("../../styles/fonts/JustMandrawn.ttf");
}

.logo {
  font-family: "justMandrawn", Courier, monospace;
  font-size: 60px;
  color: black;
  padding: 0;
  margin: 0;
}
