.filter {
  position: relative;

  &__input {
    padding: 5px;
  }

  &__options {
    position: absolute;
    width: 100%;
    transition: all 400ms;
    background-color: aquamarine;
  }

  &--show {
    opacity: 1;
    pointer-events: auto;
  }

  &--hide {
    opacity: 0;
    pointer-events: none;
  }
}
