@use '../../styles/colors';

.header {
  padding: 16px 30px 16px 20px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-bottom: 1px solid colors.$border_light_grey;

  a {
    text-decoration: none;
    color: #090A0A;
    font-size: 16px;
    display: flex;
    align-self: center;

    .icon-briefcase {
      margin-right: 10px;
    }
  }
}