@use '../../styles/colors';
@use '../../styles/breakpoints';

.topbar {
  padding: 16px 30px 16px 20px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  box-sizing: border-box;

  .flex-center-items {
    display: flex;
    align-items: center;
  }

  &--border-bottom {
    border-bottom: 1px solid colors.$border_light_grey;
  }

  a {
    text-decoration: none;
    color: #090a0a;
    font-size: 16px;
    display: flex;
    align-self: center;

    .icon-briefcase {
      margin-right: 10px;
    }
  }

  .join-us {
    padding: 8px;
    border-radius: 5px;

    &:hover {
      background-color: #f9e8d3;
      transform: scale(1.01);
    }
  }
}

@media only screen and (min-width: breakpoints.$hd) {
  .topbar {
    padding: 30px 40px;
  }
}
