@use '../../../../styles/colors';

.search {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .inputs-wrapper {
        border: 1px solid colors.$border_light_grey;
        border-radius: 8px;

        .input-container {
            position: relative;
            font-family: PoppinsLight;
            border-bottom: 1px solid colors.$border_light_grey;


            img {
                position: absolute;
                top: 11px;
                left: 12px;
            }

            input {
                all: unset;
                font-size: 16px;
                padding: 14px 16px 14px 48px;
                line-height: 18px;
                color: colors.$text_ink_black;

            }

            ::placeholder {
                color: colors.$text_grey;
            }
        }


        .option-container {
            position: relative;
            font-family: PoppinsLight;

            img {
                position: absolute;
                top: 11px;
                left: 12px;
            }

            select {
                all: unset;
                box-sizing: border-box;
                width: 100%;
                padding: 14px 16px 14px 48px;
                background-color: white;

                &:checked {
                    background-color: red;
                }
            }
        }
    }

    .btn {
        margin-top: 30px;
    }
}