@use '../../styles/colors';
@use '../../styles/breakpoints';

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.search {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  .inputs-wrapper {
    border: 1px solid colors.$border_light_grey;
    border-radius: 8px;

    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      font-family: PoppinsLight;
      border-bottom: 1px solid colors.$border_light_grey;

      img {
        top: 11px;
        left: 12px;
        margin: 14px;
      }

      input {
        all: unset;
        font-size: 16px;
        padding: 14px 30px 14px 0px;
        line-height: 18px;
        color: colors.$text_ink_black;
        width: 100%;
        box-sizing: border-box;
      }

      &:focus-within {
        border: 1px solid colors.$background_orange;
        border-radius: 8px 8px 0 0;
      }

      ::placeholder {
        color: colors.$text_grey;
      }
    }
    .clear {
      all: unset;
      position: absolute;
      right: 2px;
      padding: 5px;
      width: 15px;
      height: 15px;
      text-align: center;
      border-radius: 15px;
      top: 50%;
      transform: translateY(-12px);
      transition: all ease 200ms;

      &:hover {
        transition: all ease 200ms;
        background-color: lightgray;
      }
    }

    .option-container {
      position: relative;
      display: flex;
      font-family: PoppinsLight;
      img {
        top: 11px;
        left: 12px;
        margin: 14px;
      }

      .query {
        display: flex;
        width: 100%;
        cursor: pointer;
      }

      div {
        position: relative;
      }

      input {
        all: unset;
        font-size: 16px;
        line-height: 18px;
        color: colors.$text_ink_black;
        box-sizing: border-box;
        width: 100%;
        max-width: none;
      }

      .country:focus-within,
      .county:focus-within,
      .city:focus-within {
        border: 1px solid colors.$background_orange;
        border-radius: 0 0 8px 8px;
      }

      ul {
        overflow-y: auto;
        margin-top: 5px;
        border: 1px solid colors.$border_light_grey;
        border-radius: 4px;
        box-shadow: 0px 3px 10px 0px #0000001a;
        position: absolute;
        z-index: 1;
        background-color: white;
        width: 100%;
        max-height: 200px;
        top: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }

        li {
          padding: 12px 16px;
          font-size: 16px;
          line-height: 18px;
          color: colors.$text_ink_black;
          width: 100%;
          cursor: pointer;

          &:hover {
            background-color: colors.$border_light_grey;
          }
        }
      }
    }
  }

  .btn {
    margin-top: 30px;
  }
}

@media only screen and (min-width: breakpoints.$hd) {
  .search {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid colors.$border_light_grey;
    border-radius: 8px;
    padding-right: 6px;

    .inputs-wrapper {
      flex: 1;
      display: flex;
      justify-content: space-between;
      border: unset;
      border-radius: unset;

      .input-container {
        border-bottom: unset;
        flex: 1;

        img {
          top: 15px;
          left: 16px;
        }
        &:focus-within {
          border: 1px solid colors.$background_orange;
          border-radius: 8px 0 0 8px;
        }
      }

      .option-container {
        position: relative;
        font-family: PoppinsLight;

        margin-right: 10px;

        &::before {
          content: ' ';
          position: absolute;
          border-left: 1px solid colors.$border_light_grey;
          height: 32px;
          left: 0;
          top: 14px;
        }

        img {
          top: 15px;
          left: 16px;
        }
        .country:focus-within,
        .county:focus-within,
        .city:focus-within {
          border-radius: 0;
        }
      }
    }

    .btn {
      margin-top: 0;
      padding: 0;
      width: 136px;
      height: 48px;
    }
  }
}
