@import "../../styles/variables.scss";

@keyframes reveal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search {
  width: 500px;
  &__animation {
    animation: reveal 3000ms;
  }

  .search__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    .search {
      &__input {
        padding: 10px 45px 10px 55px;
        font-size: 24px;
        border-radius: 100px;
        font-family: $oswald-extra-light;
        color: $search-input-color;
        background-color: #8b573d;
      }

      &__icon {
        position: absolute;
        top: 16px;
        left: 15px;

        img {
          width: 30px;
        }
      }
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $search-input-color;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $search-input-color;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $search-input-color;
    }
  }
}
