@use '../../styles/colors';

.search {
  position: relative;
  width: calc(100% - 20px);
  max-width: 480px;
  padding-left: 10px;
  padding-right: 10px;

  input {
    height: 64px;
    width: calc(100% - 87px - 16px - 2px);

    background-color: transparent;
    border: 1px solid colors.$dark-border;
    border-radius: 30px;

    padding-left: 87px;
    padding-right: 16px;

    font-size: 20px;
    font-family: PoppinsRegular, 'Courier New', Courier, monospace;
    font-weight: bold;
    color: colors.$text-purple;


  }

  .image {
    position: absolute;
    padding: 17.5px 14.5px 11.5px 17.5px;
    cursor: pointer;
    border-radius: 30px 0 0 30px;
  }
}