@use '../../../../styles/colors';

.filter-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-right: 1rem;
  position: relative;

  .filter-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    .arrow-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
    }

    .up {
      transform: rotate(180deg);
    }

    .down {
      transform: rotate(0);
    }
  }

  .filter-title {
    font-size: 1rem;
  }

  .dropdown-container {
    padding: 0.5rem 1rem;
    border: 1px solid #89969c;
    border-radius: 1.2rem;
    background-color: white;
    width: 300px;

    .search-input {
      position: relative;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #89969c;

      .magnify {
        margin-right: 0.5rem;
      }

      .inputs-wrapper {
        .input-container {
          display: flex;
          align-items: center;
        }
      }
    }

    input {
      width: auto;
      height: 30px;
      font-size: 1.1rem;
      outline: none;
      border: none;
    }

    ul {
      padding: 0.5rem 1rem;
      padding-left: 0;
      list-style-type: none;

      li {
        margin-bottom: 1rem;
        cursor: pointer;
        color: black;
      }
    }

    ul {
      .option {
        display: flex;
        align-items: center;
        zoom: 1.1;

        .checkbox {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
