@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JustMandrone";
  src: url("./assets/fonts/Just-Mandrawn.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

.landing-page {
  background: url("./assets/images/landing-cover.png") no-repeat center center
    fixed;
  background-size: cover;
}

.rezultate-pagina {
  background: url("./assets/images/rezultate-cover.png") no-repeat center center
    fixed;
  background-size: cover;
}

.scrollbar-class::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-class::-webkit-scrollbar-thumb {
  background-color: #048a81;
  border-radius: 26px;
  cursor: pointer;
}

.fill_arrow {
    fill: #048a81;
}
