@use "./colors";

.drop-down-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px auto 0px auto;
  width: fit-content;
  gap: 17px;
  color: black;
  position: relative;
  .drop-down-container {
    font-family: PoppinsRegular;
    font-size: 18px;
    background: #ffffff;
    padding: 5px 0px 5px 0px;
    gap: 1px;
    border: solid 1px #89969c;
    border-radius: 30px;
    box-shadow: 0px 4px 14px 0px #0000001a;
    display: none;
    position: absolute;
    input {
      accent-color: colors.$background_green;
    }
    .search-input {
      .checkbox-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 5px;
        width: 230px;
        height: 220px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: colors.$background_green;
          border-radius: 26px;
          cursor: pointer;
        }
      }
      .search-container {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0px 2px;
        border-bottom: 1px solid #ccc;
        input {
          border: 0px;
          outline: none;
          padding: 10px 0px;
        }
      }
      .lupa {
        position: relative;
        left: 0px;
        width: 20px;
        margin-left: 4px;
      }
      .clear {
        position: absolute;
        right: 10px;
      }
      .checkbox-parent {
        font-weight: 400;
        display: flex;
        gap: 3px;

        input {
          border: none;
          padding: 6px 0px;
          font-size: 14px;
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }
    .checkbox-remote {
      width: 190px;
      height: 190px;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      margin-top: -20px;
      margin-left: 4px;
    }

    .mdl {
      margin-top: 30px;
    }
  }

  .drop-down {
    background: none;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    img {
      margin-left: 8px;
      height: 6px;
    }
    &:hover {
      color: colors.$background_green;
    }
    .up {
      transform: rotate(180deg);
    }
  }
  .open {
    display: block;
  }
}
@media (max-width: 450px) {
  .drop-down-parent {
    display: flex;
    flex-wrap: wrap;
    .drop-down-container {
      left: 60px;
    }
  }
  .search-input {
    .lupa {
      height: 18px;
      margin-left: 2px;
    }
  }
}
