.footer {
  .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .social-media {
    display: flex;
  }
  h3 {
    color: #4b4646;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
  }
  .all-rights-reserved {
    margin-top: 40px;
    margin-bottom: 6px;
  }
  li {
    padding: 10px 0px;
  }
  .social-links {
    a {
      margin-inline: 10px;
    }
  }
}
@media (max-width: 700px) {
  .footer {
    li {
      padding: 6px 0px;
    }
    section {
      margin-bottom: 6px;
    }
  }
  .all-rights-reserved {
    margin-top: 20px;
  }
}
