.footer {
  .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .social-media {
    display: flex;
    margin: 0 auto;
    margin-top: 8px;
  }
  h3 {
    color: #4b4646;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
  }
  .all-rights-reserved {
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
  }

  .social-links {
    display: flex;
    gap: 16px;
    a {
      margin-inline: 10px;
    }
  }
}

.all-rights-reserved {
  color: #6f777a;

  & a {
    color: inherit;
    margin-left: 4px;
  }
}
@media (max-width: 700px) {
  .footer {
    section {
      margin-bottom: 8px;
    }
  }
  .all-rights-reserved {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media (max-width: 1000px) {
  .footer {
    .links {
      margin-top: 200px;
      flex-direction: column;
      gap: 18px;
    }
  }
  .social-media {
    order: 4;
  }
}