@use "./colors";

.background-img {
  background: url("../assets/images/landing-cover.png") no-repeat center center
    fixed;
  background-size: cover;
  // height: 100vh;
}
.landing {
  overflow-x: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;

  footer {
    margin: 0 auto;
    width: 70%;
    border-top: 1px solid #ccdde2;
    padding-top: 21px;
  }
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  width: 70%;
  border-bottom: 1px solid #ccdde2;
  img {
    padding: 10px;
  }
}
main {
  // width: 70%;
  font-family: PoppinsRegular;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10em;

  h1 {
    color: colors.$text_orange;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 8px;
    line-height: 110%;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #4b4646;

    span {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      text-align: left;
      color: rgb(24, 24, 24);
    }
  }
  .content {
    order: 1;
    .text {
      position: relative;
      width: 486px;

      .dungi {
        position: absolute;
        top: 125px;
        right: 60px;
        transform: scale(1.1);
      }
    }
  }
  .racheta {
    order: 1;
  }
  .input-container {
    order: 2;
    form {
      display: flex;
    }
  }
}
@media (min-width: 1500px) {
  .input-container {
    flex: 0 0 50%;
  }
}

@media (max-width: 1100px) {
  main {
    margin-bottom: 60px;
    padding-top: 60px;
    h1 {
      font-size: 44px;
    }
    .content {
      .text {
        width: 350px;
        .dungi {
          top: 138px;
          transform: scale(0.6);
          left: -50px;
        }
      }

      .racheta {
        transform: scale(1);
      }
    }
    .input-container {
      order: 2;
    }
  }
}

@media (max-width: 800px) {
  main {
    width: 70%;
    align-items: center;
    & h1 {
      font-size: 40px;
    }
    .content {
      order: 1;
      .text {
        width: 310px;
        .dungi {
          top: 128px;
          transform: scale(0.6);
          left: -50px;
        }
      }
    }
    .racheta {
      order: 3;
    }
    .input-container {
      order: 2;
    }
  }
}

@media (max-width: 640px) {
  main {
    align-items: center;
    & h1 {
      font-size: 40px;
    }
    .content {
      order: 1;
    }
    .racheta {
      order: 3;
      width: 320px;
      img {
        width: 100%;
      }
    }
    .input-container {
      order: 2;
    }
  }
}
