@use "./colors";

.background-img {
  background: url("../assets/images/landing-cover.png") no-repeat center center
    fixed;
  background-size: cover;
  // height: 100vh;
}
.landing {
  overflow-x: none;
  max-width: 900px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  border-bottom: 1px solid #ccdde2;
  img {
    padding: 10px;
  }
}
main {
  font-family: PoppinsRegular;
  padding-top: 160px;
  padding-bottom: 118px;
  margin-bottom: 66px;
  border-bottom: 1px solid #ccdde2;
  max-width: 1440px;

  h1 {
    color: colors.$text_orange;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 8px;
    line-height: 110%;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #4b4646;

    span {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      text-align: left;
      color: rgb(24, 24, 24);
    }
  }
  .content {
    display: flex;
    position: relative;

    .text {
      position: relative;
      width: 486px;

      .dungi {
        position: absolute;
        top: 125px;
        right: 60px;
        transform: scale(1.1);
      }
    }

    .racheta {
      position: absolute;
      top: 0;
      left: 470px;
      transform: scale(1.3);
      z-index: 0;
    }
  }
}

@media (max-width: 1100px) {
  .landing {
    max-width: 700px;
  }
  main {
    padding-top: 120px;
    h1 {
      font-size: 44px;
    }
    .content {
      .text {
        width: 350px;
        .dungi {
          top: 138px;
          transform: scale(0.6);
          left: -50px;
        }
      }

      .racheta {
        transform: scale(1);
        left: 360px;
      }
    }
  }
}

@media (max-width: 800px) {
  .landing {
    max-width: 350px;
  }

  main {
    padding-top: 65px;
    padding-bottom: 350px;

    & h1 {
      font-size: 40px;
    }
    .content {
      .text {
        width: 310px;

        .dungi {
          top: 128px;
          transform: scale(0.6);
          left: -50px;
        }
      }

      .racheta {
        top: 400px;
        left: 0px;
        transform: scale(1);
      }
    }
  }
}
