.fara-rezultate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #878b8c;
  gap: 20px;
  h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 63px;
    text-align: left;
    margin-bottom: 3px;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
  }
  img {
    width: 20%;
  }
}
@media (max-width: 800px) {
  .fara-rezultate {
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 30px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 16px;
    }
    h4 {
      line-height: 20px;
    }
    img {
      width: 50%;
      height: 200px;
    }
  }
}
