@use './colors';
body {
  background: #f7f7f7;
}
.rezults-container {
  margin: 80px 0px;
  .total-rezultate {
    margin: 30px 0px;
    color: #979c9e;
  }
  .cards-containter {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin-bottom: 30px;
  }
  .load-more {
    padding: 14px 40px 14px 40px;
    border-radius: 30px;
    background: colors.$background_green;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-inline: auto;
    margin-bottom: 50px;
  }
  .scrol-up {
    bottom: 50px;
    position: fixed;
    right: 50px;
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0;
    background: none;
    border: none;
  }
  .scrol-up.is-visible {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    background: none;
    border: none;
  }
  .taguri-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 50px 0px;
    .tags {
      color: #2e2e2e;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #048a811a;
      padding: 8px;
      border-radius: 28px;
      button {
        background: none;
        border: none;
        color: black;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
.rezult-page {
  padding: 0rem 10rem;
}
@media (max-width: 1400px) {
  .rezults-container {
    .cards-containter {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }
  .rezult-page {
    padding: 0rem 6rem;
  }
}
@media (max-width: 800px) {
  .rezults-container {
    margin-top: 0px;
    .cards-containter {
      grid-template-columns: 1fr;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
    .scrol-up {
      right: 0px;
    }
  }
  .rezult-page {
    padding: 0 2rem;
  }
}
