@use "./colors";

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

  form {
    position: relative;
  }

  .lupa {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  input {
    padding-left: 50px;
    border: 1px solid #89969c;
    border-radius: 40px;
    width: 620px;
    height: 54px;
  }

  .clear {
    position: absolute;
    right: 148px;
    top: 21px;
  }

  button {
    margin-left: 6px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 122px;
    height: 54px;
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    background-color: colors.$background_green;
    transition: all 0.3s ease-out;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 5px 5px 0px #00000040 inset;
    }
  }
}

@media (max-width: 1200px) {
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      width: 400px;
      height: 54px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 800px) {
  .input-container {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    .clear {
      position: absolute;
      right: 18px;
    }
    input {
      width: 240px;
      height: 54px;
    }
  }
}
